.cart_wrapper {
   display: flex;
   align-items: center;
}

.cart {
   display: flex;
   align-items: center;

   padding: 1px 15px;
   margin: 0 10px;
   width: auto;
   height: 30px;
   background-color: lightcoral;

   border-radius: 15px;

   cursor: pointer;

   p {
      padding: 5px;
   }

   &_img {
      width: 50px;
      height: 25px;
   }
}