.categories {
  display: flex;
}

.category {
  position: relative;
  padding: 5px 10px;
  margin: 15px 20px;
  background-color: var(--category-color);
  border-radius: 20px;
  cursor: pointer;
 }
 
 .category:hover {
  background-color: var(--active-hover);
  color: var(--active-text);
 }