[data-theme='dark'] {
  --bg-color: #000;
  --cont-color: #212121;
  --text-color: rgb(108 60 255);
  --active-color: rgb(93 24 24);
  --category-color: rgb(37 59 61);
}

[data-theme='default'] {
  --bg-color: greenyellow;
  --cont-color: aliceblue;
  --text-color: #001a49;
  --active-color: rgb(255, 190, 190);
  --category-color: rgb(144, 210, 214);
}

.active {
  background-color: var(--active-color);
}

.btn_back {
  border: 1px solid red;
  border-radius: 10px;
  color: red;

  cursor: pointer;

  &:hover {
    background-color: rgb(248, 160, 160);
  }
}

/* ----------------------------------------------------------- */
html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  width: 100%;
  min-width: 280px;
  height: 100%;
  background-color: var(--bg-color);
  padding: 10px 0;
}

.container {
  height: auto;
  padding: 5px 30px;
  margin: 5px 50px;
  background-color: var(--cont-color);
  border-radius: 10px;
}

.content {
  padding: 5px;
  min-height: 95vh;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 10px;
}

.content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.items_list_name {
  font-size: 20px;
  font-weight: 600;
}

.items_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // min-height: 65vh;
}

.item_addButton {
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  background-color: #fff;

  cursor: pointer;

  &:hover {
    background-color: rgb(248, 160, 160);
  }
}

.item_addedButton {
  border: 1px solid #029200;
  border-radius: 10px;
  color: #fff;
  background-color: #1abf18;

  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
}


/* Media  */

@media(max-width: 955px) {
  .wrapper {
    padding-top: 5px;
  }

  .container {
    padding: 20px 10px;
    margin: 20px 20px;
  }

  .category {
    margin: 10px 5px;
  }

  .sort {
    padding: 0px;
  }
}

@media(max-width: 670px) {
  .content_top {
    display: block;
  }

  .sort_wrapper {
    margin-top: 20px;
  }

  /* .logo {
    @media(max-width: 670px) {
      display: none;
   } */
}

/* cart img */
/* @media(max-width: 500px) {
  display: none;
} */

@media(max-width: 480px) {
  .wrapper {
    position: relative;
  }

  .categories {
    position: absolute;
    display: block;
    top: 35vh;
    left: 0vw;
  }

  .items_list {
    justify-content: right;
  }

  .footer {
    display: block;
  }
}