.active {
  background-color: rgb(255, 190, 190);
}

/* ----------------------------------------------------------- */

.wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: greenyellow;
}

.container {
  position: relative;
  padding: 20px 30px;
  margin: 20px 30px;
  background-color: aliceblue;
  border-radius: 10px;
}

.content {
  padding: 10px;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
}





.content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items_list_name {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.items_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}